log/*.log
.idea
vendor
dist
.vagrant
vagrant_ansible_inventory_default
vagrant_ansible_inventory_dev_vm
vagrant_ansible_inventory_srvm
vagrant_ansible_inventory_end_to_end_app_vm
vagrant_ansible_inventory_dev_vm
.bundle
bin
features/reports/*
.sass-cache
node_modules
.DS_Store
public/assets
public/bower_components
fake_staffing_server.pid
fake_accounts_server.pid

*.pstore
*.iml
